[workspace]
resolver = "2"
members = [
    "server",
    "tools"
]
[patch.crates-io]
eframe = { git = 'https://github.com/nmeylan/egui', rev = "cc7b299a132024dff44b53ccf8ca8c810764bea6" }
#egui_glow = { git = 'https://github.com/nmeylan/egui' }


[patch."https://github.com/nmeylan/rathena-script-lang-interpreter"]
#rathena_script_lang_interpreter = {path = "C:\\dev\\ragnarok\\ragnarok-script-interpreter"}
#rathena_script_lang_interpreter = {path = "/home/nmeylan/dev/ragnarok/ragnarok-script-interpreter"}

[profile.dev]
opt-level = 0
incremental = true

[profile.dev.package."*"]
opt-level = 2
incremental = true

[profile.dev.package."packets"]
opt-level = 0
[profile.dev.package."enums"]
opt-level = 0
[profile.dev.package."skills"]
opt-level = 0
[profile.dev.package."models"]
opt-level = 0