
body {
    font-family: Arial, "sans-serif";
    font-size: 12px;
    margin: 7px;
    padding: 0;

    background-color: #e1e1e1;
    color: #333;
    line-height: 185%;
}

table {
    font-family: Arial, "sans-serif";
    font-size: 12px;

    color: #333;
    width: 100%;
}

table.maintb {
    font-family: Arial, "sans-serif";
    font-size: 12px;

    background-color: #e1e1e1;
    color: #333;
    line-height: 185%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

h3 {
    margin-top: 0em;

    padding-left: 15px;
    font-size: 12px;
    background-color: #4a7fbb;
    border-left: 10px solid #000;
    color: #fff;
    padding: 0.5em;
    font-variant: small-caps;
}

ol {
    list-style-type: decimal;
}


td.top {
    vertical-align: top;
}


.topic {
    border: 1px solid #999;
    background-color: #fff;
    padding: 5px;
}

.topic > h3 {
    margin: -5px;
    margin-bottom: 5px;
}

.topic-main {
    border: 1px solid #999;
    background-color: #fff;
    margin-bottom: 1em;
    padding-left: 15px;
    margin-right: 7px;
}


a {
    color: #000;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #555;
}

td.data {
    border-right: 1px dotted #999;
}

td.data1 {
    border: 1px solid rgb(230, 230, 230);
    background: rgb(250, 250, 250);
}

td.data2 {
    border: 1px solid rgb(210, 210, 210);
    background: rgb(230, 230, 230);
}

td.data3 {
    border: 1px solid rgb(190, 190, 190);
    background: rgb(210, 210, 210);
}

td.data4 {
    border: 1px solid rgb(170, 170, 170);
    background: rgb(190, 190, 190);
}

td.before {
    background: rgb(255, 220, 220);

}

td.aftern {

}

td.beforen {

}

td.after {
    background: rgb(220, 255, 220);

}

td.calc {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: #fff;
    padding-right: 2px;
    padding-left: 5px;
}

td.calcnb {
    border-bottom: 1px solid #999;
    background-color: #fff;
    padding-right: 2px;
    padding-left: 5px;
}


.subheader {
    margin-top: 0em;
    font-size: 12px;
    padding-left: 5px;
    background-color: #4A7FBBFF;
    color: #fff;
}

h2.topicheader {
    font-weight: bold;
    border-bottom: 1px dotted #999;
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-left: 15px;
    font-size: 12px;
}

h2.subheader {
    margin-top: 0em;

    font-size: 12px;

    background-color: #4A7FBBFF;
    color: #fff;
}

h2.mainhead {

    font-size: 24px;
}

ul {
    margin: 0em 0em 0em 1em;
    padding: 0px;
    margin-left: 1em;
}

li {
    line-height: 135%;
}

li.sidebar {
    list-style: none;
    line-height: 135%;
}

div.content {
    padding-bottom: 5px;
}


hr2 {
    display: block;
    clear: left;
    margin: -0.66em 0;
    visibility: hidden;
}


H4 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    padding-left: 25px;
    font-size: 10px;

    background: #888;
    color: #fff;
}

div.post {
    margin-bottom: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
}

p:first-letter {
    font-size: 120%
}

#container {
    width: 100%;
    min-width: 640px;
}

td.title {
    font-weight: bold;
    border-bottom: 2px solid rgb(0, 0, 0)

}

td.subtitle {
    font-weight: bold;
    border-bottom: 1px solid #666;
    background: rgb(192, 192, 192);
}

td data {
    border: 1px dotted #999;
    border-right: 1px dotted #999;
}

[data-left-hand=true] td.calc {
    background-color: #e4e4e4;
}

.base-stats input[type=number] {
    width: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-template-areas:
    ". .";
}

.calculation-results {
    position: sticky;
    top: 1rem;
    align-self: start;
}
.calculation-results .container {
    margin-bottom: 5px;
}
.calculation-results h3 {
    margin: -5px;
    margin-bottom: 5px;
}

.calculation-results table {
    background-color: white;
}

.calculation-results .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 0px 0px;
}

.title {
    font-weight: bold;
    padding-right: 10px;
}

.stats .stat1, .stat2 {
    padding-right: 5px;
}

.stats .stat {
    line-height: 20px;
}

.stats .stat-sep::before {
    content: "+";
    padding-right: 5px;
}

.stats .stat:nth-child(-n+6) .title {
    width: 30px;
    display: inline-block;
}

.container {
    width: 100%;
    border: solid 1px #999;
}
.container-header {
    display: block;
}
.container-content{
    padding: 5px;
}
.flex-container-content {
    display: flex;
    flex-wrap: wrap;
}
.flex-container-content > div span{
    display: inline-block;
    line-height: 20px;
}
.flex-container-content > div span:first-child {
    width: 200px;
}
.flex-container-content > div {
    margin-right: 10px;
}
.flex-container-content > div input[type=checkbox] {
    margin: 0;
}
.flex-container-content > div span:nth-child(2) {
    width: 90px;
}

.monster-stats {
    width: 420px;
    margin-right: 5px;
}

.monster-stats .container-content {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
}
.monster-stats .container-content .title {
    white-space: nowrap;
}

.performance-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 10px;
}
.performance-table .title {
    font-weight: unset;
    width: 90px;
    display: inline-block;
    white-space: nowrap;
}

.performance-table input, .performance-table  select {
    width: 50px;
}
.performance-table input[type=checkbox] {
    width: 30px;
    margin: 0;
}

.grid-support {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
}

.intermediate-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
}
.combat-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
}

.searchable-select-wrapper {
    position: relative;
    height: 30px;
}
.searchable-select-wrapper select, .searchable-select-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.searchable-select-wrapper input {
    z-index: 2;
}
.searchable-select-wrapper select {
    max-height: 200px;
}

.passive-support-skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 5px 5px;
}

.passive-skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 5px 5px;
}

.passive-skills-container div span:first-child {
    display: inline-block;
    width: 200px;
}

.support-skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 5px 5px;

}
.support-skills-container div span:first-child {
    display: inline-block;
    width: 200px;
}

.support-skills-container  select {
    width: 70px;
}
.support-skills-container input[type=checkbox] {
    vertical-align: middle;
    margin: 0;
    height: 20px;
}

.testcase-table th, .testcase-table td {
    text-align: left;
}
.testcase-table {
    border-collapse: collapse;
}
.testcase-table td {
    border: solid 1px #e4e4e4;
    padding: 2px;
}